<!-- <p>post-create works!</p>
<textarea name="6" id="" cols="30" rows="10" #postInput [value]="fakePost"></textarea>
<button (click)="onAddPost(postInput)" >Click Here</button> -->


<!--second binding method-->

<mat-card>
    <form (submit)="onSavePost(postForm) " #postForm="ngForm">
        <!--#postForm gives acces to form object angular just created for us-->
        <mat-form-field>
            <input 
                matInput 
                type="text"
                name="title"
                [ngModel]="post?.title"
                required
                minlength="3"
                #title="ngModel"
                placeholder="postTitle"
            />
            <mat-error *ngIf="title.invalid">please enter a post title</mat-error>
        </mat-form-field>
        


<!--  Ecriture alternative : 
    
        <mat-form-field>
                <input 
                    matInput 
                    type="text"
                    name="title"
                    ngModel
                    required
                    minlength="3"
                />
                <mat-error *ngIf="postForm.getControl('title').invalid">{{}}
            </mat-form-field>
        <mat-form-field> -->



 <!--Prepopulate the field- with [NgModel] binding-->
    <mat-form-field>
            <textarea 
            matInput 
            rows="4"
            name="content"
            [ngModel]="post?.content"
            required
            placeholder="postContent"
            #content="ngModel"
            ></textarea>
            <mat-error *ngIf="content.invalid">please enter a post content</mat-error>
        </mat-form-field>
        <button
        mat-raised-button 
        color="primary"
        type="submit"
        >save post</button>
    </form>

</mat-card>
<!--Button of type submit in a form will submit that form-->

<!-- <p>{{ fakePost }}</p> -->